<ul id="topnav">
  <li>
    <div id="content1" style="display:none">
      <%= render :partial => 'stories/formcreate' %>
    </div>

    <a href="#" onclick="openDialog3(this, 'content1');"> добавить</a>
  </li>
  <li>
    <%= link_to 'лучшее', { :controller => 'stories', :order => 'best' } %>
  </li>
  <li>
    <%= link_to 'о нас', 'about' %>
  </li>
  <% if !session[:user].blank? %>
    <li>
      <%= render :partial => 'admin/signout'  %>
    </li>
  <% end %>
</ul>
