<ul>
  <li class="page_item">
    <%= link_to 'добавить', { :controller => 'story', :action => 'create' }, :class => "submodal-423-453" %>
  </li>
  <li class="page_item">
    <%= link_to 'лучшее', { :controller => 'stories', :order => 'best' } %>
  </li>
  <li class="page_item">
    <%= link_to 'о нас', { :controller => 'about' } %>
  </li>
  <% if !session[:user].blank? %>
  <li class="page_item">
      <%= render :partial => 'admin/signout'  %>
    </li>
  <% end %>
</ul>
