<form method="post" class="searchform" action="/stories/find">
  <span class="left"></span>
  <input type="text" value="Search" name="s" class="s" onfocus="if (this.value == 'Search') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search';}" />
  <span class="right"></span>
  <input type="submit" class="searchsubmit" value="Go" />
</form>
