  <% if !session[:user].blank? %>
  <div class="adminmenu">
    <%= link_to 'Удалить', @story, :method => :delete %> |
    <%= link_to 'Изменить', edit_story_path(@story) %> |
    <% if !@story.aprooved %>
      <%= link_to 'Опубликовать', { :action => "aproove", :id => @story.id } %>
    <% else %>
      <%= link_to 'Скрыть', { :action => "hide", :id => @story.id } %>
    <% end %>
  </div>
  <% end %>