  <% if !session[:user].blank? %>
  <div class="adminmenu">
    <%= link_to 'Удалить', @story, :method => :delete, :confirm => "Точно удалить?" %> |
    <%= link_to 'Изменить', edit_story_path(@story) %> |
    <%= link_to @story.aprooved ? "Скрыть" : "Опубликовать", toggle_story_visiblity_path(@story) %>
  </div>
  <% end %>