<% content_for :content do %>
  <div class="adminmenu">
    <h1>Измени историю</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @story %> |
    <%= link_to 'Back', stories_path %>
  </div>
<% end %>