<% content_for :content do %>
    <% @stories.each_with_index do |story,index| %>
        <%= render :partial => 'story', :collection => [story] %>
        <% if index == 1 %>
            <%= render :partial => "advert/google_adsence_468_60" %>
        <% end %>
    <% end %>
    <% p "fuck" %>
    <h1 id="pagination">
      <%= will_paginate @stories, :previous_label => "← сюда", :next_label => "туда →", :inner_window => 1, :outer_window => 2 %>
    </h1>
<% end %>