<% content_for :content do %>
    <%= render :partial => 'story', :collection => @stories %>
      <h1 id="pagination">
        <%= will_paginate @stories, :previous_label => "← сюда", :next_label => "туда →" %>
      </h1>
<% end %>