<% content_for :content do %>
<div class="postwrap fix">
  <div class="post-36 post type-post hentry category-uncategorized" id="post-36">
    <div class="adminmenu">
      <h1>Рекламодателям</h1>
      Если вы хотите рекламировать свой ресурс на нашем сайте свяжитесь с админсистратором.
      <blockquote style="margin-left: 10px; margin-right: 10px;">
        ICQ: 891740<br/>
        <a href="mailto:admin@pochemu-ya-takaya-dura.ru">admin@pochemu-ya-takaya-dura.ru</a>
      </blockquote>
    </div>
  </div>
</div>
<% end %>