<% content_for :content do %>
<div class="postwrap fix">
  <div class="post-36 post type-post hentry category-uncategorized" id="post-36">
    <div style="margin-left: 10px; margin-right: 10px; margin-bottom: 20px;">
<h2 style="text-align: center;">Почему я такая дура?</h1>

<p>Перед тем как рассказать вам основную идею нашего проекта, я приведу немного статистики, думаю, что она не окажется лишней. Итак, количество запросов «почему я такая дура?» в Yandex составляет порядка 26 тысяч в месяц, в Google 15 тысяч. Интересно, не правда ли? Получается что около 30 тысяч женщин ежемесячно опрощаются к поисковым система с этим вопросов. И вот тут начинается самое интересное, а именно – «почему»? Действительно почему женщины склонны себя считать дурами и обращаются с вопросом <strong><u>«почему же я такая дура?»</u></strong> к поисковикам в надежде найти там что-то стоящее и способное дать чёткий ответ на их извечный вопрос. Думаю со мной согласятся почти все, если я заявлю что мужчины критикуют себя намного реже чем женщины ! Женщинам более свойственно сожалеть о допущенных ими ошибках или поступках  и, что самое странное, они ещё больше жалеют о тех поступках, которые не совершили =)</p>
<p>Мне кажется, ещё раз повторюсь – это сугубо моё личное мнение, что это связано с тем, что женщины склонны принимать решения отталкиваясь  от собственной интуиции и эмоции( или чувств, кому как больше нравиться) , что в итоге выливается в вопрос – «почему я такая дура?»</p>
<p>Да, есть моменты в жизни, и их не так уж и мало, в которых лучше полагаться на интуицию и эмоции, и в таких делах женщины будут всегда лучше мужчин. Но в делах которые требуют холодного расчета  и чёткого решения женщины будут отставать от мужчин, им будут мешать чувства и они не смогут принять нужное решение. И в итоге получим ещё одну женщину с навязчивой мыслью в голове <strong><u> «почему же я такая дура?» </u></strong></p>
<p>
Я где-то читал про один эксперимент, который провели американские учёные, странный такой эксперимент, впрочем они там все странные и занимаются непонятно чем… так, что-то я отошёл от темы… вернёмся. И так, суть эксперимента была в следующем: набрали добровольцев, мужчин и женщин, посадили за компьютер, включили игру, и сказали найти какое-то определённое место, а сами учёные в это время делали снимки головного мозга испытуемых. Вам интересно, что же из этого получилось? Хе-хе…  а получилось вот что: во время выполнения задания мозг у мужчин был нагружен равномерно по всему его объёму, в то время как у женщин активность была сосредоточена в лобных долях, отвечающих за чувства и интуицию, но ни как не за логическое мышление. Ой, забыл сказать, мужчины выполняли это задание в среднем за 3.4 – 3.5 минут, а женщины за 4.3 – 4.4 минуты. Что ж, материал для раздумий я вам подкинул, а дальше, думаю, вы и сами справитесь =)
</p>
<p>
А основная идея этого сайта состоит в том, чтобы узнать, что же такого у вас случилось, что вы начали думать «почему я такая дура?». Мне, как мужчине ;) , это очень интересно, т.к. это ещё один шанс попробовать лучше узнать женщин, понять их чувства и переживания, и в конце концов дать таки ответ на извечный женский вопрос <a href='<%= root_url %>'> «Почему я такая дура?»</a>
</p>
    </div>
  </div>
</div>
<% end %>