<div style="text-align: center; position: absolute; margin-left: -256px;" id="teasernet">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-0548395408257431";
/* skyscraper */
google_ad_slot = "5232951781";
google_ad_width = 120;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>