<div style="text-align: center; position: absolute; margin-left: -300px;" id="teasernet">
<script type="text/javascript">
teasernet_blockid = 291256;
teasernet_padid = 122366;
</script>
<script type="text/javascript" src="http://anniere.com/javascript/cjrK12H33sA0qy8"></script>
</div>